html {
	background-color: var(--c-paper);
}

body {
	transition: var(--transition);
}

.inner-wrapper {
	max-width: 1376px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--s-2-4);
}

.with-gradient {
	background: var(--section-background);
	padding: var(--s-4-5) 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

a {
	width: fit-content;
}

.readable-content {
	max-width: var(--max-readable-width);
}

.no-scroll {
	overflow: hidden;
}
