<footer>
	<div class="inner-wrapper">&copy; {new Date().getFullYear()} Jason Newington</div>
</footer>

<style>
	footer {
		background: var(--section-background);
		padding: var(--s-4-5) 0;
		text-align: center;
	}
</style>
