---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '../styles/normalize.css';
import '../styles/reset.css';
import '../styles/global.css';
import '../styles/typography.css';
import '../styles/vars.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<script src=`https://www.google.com/recaptcha/api.js?render=6LfjPjsfAAAAAPQllouwQrnZ_mTdJjAacliDMDQ4` async defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VFXHZ7Q5NS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VFXHZ7Q5NS');
    </script>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
